{% extends "base.html" %}
{% load socialaccount %}
{% providers_media_js %}


{% block title %}로그인{% endblock %}
{% block page %}login{% endblock %}

{% block content %}
<div style=" padding-top:150px; margin-left:530px;">
    <h1>Login</h1>
    <div class="jumbotron" style="margin-top: 10px; width: 500px; height:210px;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="" />
        {{ form.as_p }}
        </div>
        <button class="btn btn-outline-dark mx-1" style="width:90px;" type="submit" >로그인</button>
    </form>
    <a class="btn btn-outline-dark mx-1" href="{% url 'users:register'%}">회원가입</a>
    <br><br>
        <a class="btn btn-outline-primary btn-social mx-1" href="">
            <i class="fab fa-fw fa-facebook-f"></i>
        <a class="btn btn-outline-warning btn-social mx-1" href="{% provider_login_url 'google' %}">
            <i class="fab fa-fw fa-google"></i>
        </a>
        <a class="btn btn-outline-info btn-social mx-1" href="">
                <i class="fab fa-fw fa-twitter"></i>
        </a>
    </div>
</div>

{% endblock %}
