{% load staticfiles %}

<style>
	#about
     { text-align: center; 

    }
</style>

<div id = "about">
    <br><br>
    <img src = "{% static "about1.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about2.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about3.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about4.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about5.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about6.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about7.png" %}" style = " width: 800px; height: auto;">
    <br>
    <img src = "{% static "about8.png" %}" style = " width: 800px; height: auto;">

</div>
