<html>
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap&subset=korean" rel="stylesheet">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

    
<div style="padding-left:600px; padding-top:50px;">
  <h1>Login</h1>
  <div class="jumbotron" style="margin-top:3px; width:400px; height:210px;">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="">
  {{ form.as_p }}
  </div>
  <button class="btn btn-outline-dark mx-1" style="width:90px;" type="submit">로그인</button>
  </form>
<a class="btn btn-outline-dark mx-1" href="{% url 'register'%}">회원가입</a>
</body>
</div>
    