<!-- {% load socialaccount %}
{% providers_media_js %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="jumbotron" style="margin-top:20px; width: 490px; height:500px; margin-left:520px;">
    <h1 class="h3 mb-3 font-weight-normal"><strong>sign in</strong></h1>
    <label class="sr-only">username</label>
    <br>
    <input class="form-control" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <br>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br>
    <button class="btn btn-outline-dark mx-1 btn-block">로그인</button>
    <br>
    <a class="btn btn-outline-dark mx-1 btn-block" href="{% url 'users:register'%}">회원가입</a>

    <br><br>
    <a class="btn btn-outline-primary btn-social mx-1" href="">
      <i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-outline-warning btn-social mx-1" href="{% provider_login_url 'google' %}">
      <i class="fa fa-google"></i>
    </a>
    <a class="btn btn-outline-info btn-social mx-1" href="">
      <i class="fa fa-twitter"></i>
    </a>

  </div>
  </div>
</form> -->
<div> aaaaaaaa</div>